.container {
  margin: 0 auto;
  width: 303px;
  align-items: flex-start;
  position: relative;
}

@media screen and (min-width: 768px) {
  .backgroundImageCVR {
    position: relative;
    padding: 15px;
  }
  .backgroundImage {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url('../../images/ellipse-blue.svg'), url('../../images/ellipse-pink.svg');
    background-repeat: no-repeat;
    background-position: left bottom, right top;
    background-attachment: fixed;
    /* background-size: cover; */
    z-index: 1;
    filter: blur(50px);
  }

  .container {
    position: relative;
    z-index: 2;
    /* color: black; */
    width: 705px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    display: flex;
    width: 1192px;
  }
}
