.container {
  margin: 0 auto;
  width: 280px;
  align-items: flex-start;
  position: relative;
}

@media screen and (min-width: 768px) {
  .backgroundImageCVR {
    margin: 0 auto;
    padding-bottom: 40px;
    width: 768px;
    display: block;
    position: relative;
  }

  .backgroundImage {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /* height: 100vh;
    width: 100%; */
    background: url('../../images/ellipse-blue.svg'), url('../../images/ellipse-pink.svg');
    background-repeat: no-repeat;
    background-position: left bottom, right top;
    background-attachment: scroll;
    z-index: 1;
    filter: blur(50px);
  }

  .container {
    position: relative;
    z-index: 2;
    width: 688px;
  }
}

@media screen and (min-width: 1280px) {
  .backgroundImageCVR {
    width: 1280px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    width: 1110px;
  }
}
