.HomeTableHead {
  list-style: none;

  box-sizing: border-box;
  text-align: center;
  align-items: center;

  font-family: 'Circe', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;

  background-color: var(--white-text);
  border-radius: 30px;
  padding: 15px 20px;
  position: sticky;
}
.TableRow:not(:last-child) {
  margin-right: 53px;
}
.TableRow {
  width: 100px;
  white-space: pre-line;
}

@media screen and (max-device-width: 767px) {
  .HomeTableHead {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .HomeTableHead {
    box-sizing: border-box;
    width: 100%;
    min-width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .HomeTableHead {
    box-sizing: border-box;
    width: 700px;
    min-width: 100%;
  }
}
