.field {
  position: relative;
  display: flex;
  margin: 0 20px 40px;
  width: 280px;
  height: 34px;
  border-bottom: 1px solid #e0e0e0;
}

.icon {
  margin: auto 22px auto 12px;
  width: 20px;
  height: 20px;
  color: #e0e0e0;
}

.input {
  width: inherit;
  font-family: Circe, sans-serif;
  font-size: 18px;
  line-height: 1.47;
  border: none;
  outline: none;
}

.notification {
  position: absolute;
  margin-left: 70px;
  margin-top: -34px;

  font-family: Circe, sans-serif;
  font-size: 12px;
  line-height: 1.1;
  color: #ff4800;
}

.btn {
  display: block;
  width: 280px;
  height: 50px;
  margin: 0 auto 20px;

  font-family: Circe, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  text-transform: uppercase;

  border: solid 1px;
  border-radius: 20px;
}

.logInBtn {
  color: var(--white-text);
  background-color: var(--green-text);
  border: transparent;

  transition-property: box-shadow;
  transition-duration: 500ms;
}

.logInBtn:hover,
.logInBtn:focus {
  box-shadow: 0px 0px 6px 0px #00000085;
}

.registerBtn {
  color: var(--active-blue);
  background-color: var(--white-text);
  border: solid 1px var(--active-blue);

  transition-property: color, background-color, border, box-shadow;
  transition-duration: 500ms;
}

.registerBtn:hover,
.registerBtn:focus {
  color: var(--white-text);

  background-color: var(--green-text);
  border: transparent;
  box-shadow: 0px 0px 6px 0px #00000085;
}

@media screen and (min-width: 768px) {
  .field {
    margin: 0 65px 40px;
    width: 410px;
  }

  .icon {
    width: 20px;
    height: 20px;
  }

  .btn {
    width: 300px;
  }
}
