.list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding-left: 0px;
  padding-top: 10px;
  margin: 0 auto;
}

.item {
  display: block;
}

.item:not(:last-child) {
  margin-right: 33px;
}

.link {
  position: relative;
  text-align: center;
  background-color: var(--not-active-blue);
  border-radius: 8px;
  display: block;
  width: 38px;
  height: 38px;
}

.activeLink {
  position: relative;
  text-align: center;
  background-color: var(--active-blue);
  border-radius: 8px;
  display: block;
  width: 38px;
  height: 38px;
  box-shadow: 0 0 8px 1px #4a56e280;
}

.svg {
  color: var(--white-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 23px;
  height: 23px;
}

@media screen and (min-width: 768px) {
  .list {
    flex-direction: column;
    height: 94px;
    width: 334px;
    margin-left: 0;
    padding-bottom: 20px;
  }

  .item {
    padding-top: 15px;
  }

  .link {
    display: block;
    width: 18px;
    height: 18px;
    text-decoration: none;
    font-family: Circe;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    border-radius: 3px;
  }

  .activeLink {
    display: block;
    width: 18px;
    height: 18px;
    text-decoration: none;
    font-family: Circe;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    border-radius: 3px;
  }

  .linkDiv {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 334px;
    height: 27px;
  }

  .svgDiv {
    display: block;
    height: 18px;
    width: 18px;
  }
  .svg {
    display: block;
    width: 14px;
    height: 14px;
  }

  .link > .svg:hover,
  .link > .svg:focus {
    box-shadow: 0 0 8px 1px #4a56e280;
  }

  .itemTitle {
    display: block;
    height: 27px;
    color: black;
    padding-bottom: 2px;
    padding-left: 20px;
    transition-property: color;
    transition-duration: 200ms;
  }

  .link > .itemTitle:hover,
  .link > .itemTitle:focus {
    color: var(--active-blue);
  }

  .icon {
    width: 14px;
    height: 14px;
    border-radius: 2px;
  }
}

@media screen and (min-width: 1280px) {
  .list {
    padding-top: 40px;
    margin-bottom: 30px;
  }

  .svg {
    width: 14px;
    height: 14px;
  }

  .item:first-child {
    padding-top: 0px;
  }
}
