.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 600px;
  min-width: 320px;
  width: 100%;
  padding: 20px;
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .content {
    min-height: 540px;
    max-width: 540px;
    padding: 40px;
    border-radius: 20px;
  }
}
