.text {
  font-family: 'Segoeui';
  font-weight: 400;
  font-size: 24px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--black-text);
  margin-bottom: 40px;
  margin-top: 20px;
}

.balancedate {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.datecalendar {
  position: relative;

  display: flex;
  align-items: center;
  min-width: 280px;
  height: 34px;
  margin-top: 40px;
}

.date {
  font-family: 'Segoeui';
  font-weight: 400;
  font-size: 18px;

  margin-left: 20px;
  margin-right: 134px;

  color: var(--black-text);
}

.date::after {
  content: '';
  bottom: -10px;
  left: 0;
  position: absolute;

  /* width: 100%; */
  min-width: 100%;
  height: 1px;
  border-radius: 2px;
  background-color: #8b8686;
}

.togolbar {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 10px; */
}
.plus {
  position: relative;
  font-family: 'Circe';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
  color: var(--green-text);
  margin-right: 60px;
}

.plus_noactive {
  font-family: 'Circe';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
  color: #e0e0e0;
  margin-right: 60px;
}

.minus {
  position: relative;
  font-family: 'Circe';
  font-weight: 700;
  font-size: 16px;
  color: var(--pink-text);
  margin-left: 60px;
}

.minus_noactive {
  font-family: 'Circe';
  font-weight: 700;
  font-size: 16px;
  color: #e0e0e0;
  margin-left: 60px;
}

.categories {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 280px; */
  min-width: 280px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 40px;
}
.notification {
  position: absolute;
  bottom: -42px;
  left: 20%;
  font-family: Circe;
  font-size: 16px;
  line-height: 1.1;
  color: #ff4800;
  text-align: center;
}

.notification_amount {
  position: absolute;
  bottom: -38px;
  left: 65px;

  font-family: Circe;
  font-size: 16px;
  line-height: 1.1;
  color: #ff4800;
  text-align: center;
}

input[type='number'] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  display: none;
}

.buttongroup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment {
  display: flex;
  justify-content: center;
}
