.section {
  width: 280px;
  padding-top: 20px;
  padding-bottom: 40px;
  /* padding: 20px 20px 40px 20px; */
  margin: 0 auto;
}

.sectionTitle {
  margin-bottom: 10px;
  padding: 5px 0;
  font-family: 'Segoeui', sans-serif;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
}

.statisticContainer {
  /* width: 280px; */
  /* margin: 0 auto; */
  font-family: 'Circe', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  animation: show 1.5s 1;
  animation-fill-mode: forwards;
}

@keyframes show {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.select {
  margin-bottom: 20px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

select:focus {
  outline: none;
}

.select select {
  display: block;
  width: 100%;
  padding: 15px 21px;
  background: none;
  border: 1px solid #000;
  border-radius: 30px;
  font-family: 'Circe';
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-transform: capitalize;
  overflow: hidden;
  background: url('./selector.svg') no-repeat center right;
  background-position-x: 92%;
}

select:first-child {
  margin-bottom: 20px;
}

select .itemSelect {
  color: rgb(117, 112, 112);
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .section {
    width: 688px;
    padding-top: 40px;
    padding-bottom: 40px;
    /* padding: 20px 23px 40px 40px; */
  }
  .sectionTitle {
    margin-bottom: 20px;
  }

  .statisticContainer {
    width: 705px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .select {
    margin-bottom: 20px;
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  select .select {
    width: 166px;
    background-position-x: 85%;
    font-family: 'Circe', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
  }

  select:first-child {
    margin-bottom: 0;
    margin-right: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    width: 815px;
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 30px;
    border-left: 1px solid #e7e5f2;
    box-shadow: -1px 0px 0px rgba(0, 0, 0, 0.05);
  }

  .statisticContainer {
    width: 700px;
  }
}
