.Balance {
  width: 280px;
  height: 80px;
  background-color: white;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
}

.BalanceName {
  color: #a6a6a6;
  font-family: 'Circe', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  padding-top: 8px;
}

.BalanceValue {
  color: #000000;
  font-family: 'Segoeui', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .Balance {
    width: 334px;
    height: 80px;
    margin-left: 0px;
    padding-left: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .Balance {
    width: 350px;
    height: 80px;
  }
}
